.pizza-list-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .spinner {
    display: block;
    margin: 20px auto;
  }
  
  .error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .no-pizzas-message {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-top: 20px;
  }
  
  .pizza-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  mat-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  mat-list-item:hover {
    background-color: #f1f1f1;
  }
  
  .add-pizza-button {
    text-align: center;
    margin-top: 20px;
  }
  